:root {
  --text-color-bold: #555555;
  --text-color-light: #a7a9a8;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
.container {
  width: 100%;
  height: 100vh; /* Full viewport height */
  background: rgba(59, 59, 58, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 0; /* Remove any default margin */
  padding: 0; /* Remove any padding */
}
.login-container {
  width: 60%;
  height: 78vh; 
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  box-shadow: 4px 2px 5px 2px rgb(133, 133, 132);
  overflow: hidden;
}

.login-background {
  width: 50%;
  height: 100%;
}
video {
  width: 100%;
  height: 552.237px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  position: relative;
  left: -5px;
  top: 0.15px;
  transform: scaleY(1.2);
}

.login-form {
  width: 50%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.login-title {
  width: 80%;
  height: 5%;
  text-align: center;
  position: relative;
  top: 20px;
  color: var(--text-color-bold);
  font-family: "Indie Flower", cursive;
  font-size: 35px;
  font-weight: bold;
}
form {
  width: 80%;
  height: 70%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
h4 {
  letter-spacing: 2px;
  color: var(--text-color-light);
  margin: 0;
  padding: 0;
  font-size: 12px;
}
.login-side {
  width: 90%;
  height: 40%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.login-input {
  width: 100%;
  height: 40%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.login-input span {
  color: var(--text-color-light);
  font-size: 12.5px;
  font-weight: bold;
  letter-spacing: 1px;
}
.login-input input {
  height: 65%;
  border-left: none;
  border-top: none;
  border-right: none;
  border-bottom: 2px solid var(--text-color-light);
  outline: none;
  text-indent: 5px;
  color: var(--text-color-bold);
  font-size: 18px;
}
.submit {
  width: 180px;
  height: 45px;
  background-color: var(--text-color-bold);
  color: white;
  font-weight: bold;
  font-size: 16px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.submit:hover {
  width: 220px;
}
.register-side {
  position: relative;
  top: 30px;
  font-size: 14px;
}
.register-side span {
  margin-right: 5px;
  color: var(--text-color-light);
}
.register-side a {
  color: var(--text-color-bold);
  font-weight: bold;
}
.error {
  position: absolute;
  top: 0; /* Điều chỉnh vị trí nếu cần */
  left: 0;
}
@media only screen and (max-width: 480px) and (max-height: 855px) {
  .error {
    position: relative;
    top: -160px;
    left: 55px;
    font-size: 10px;
  }
  .container {
    width: 100%;
    height: 100vh;
    border-radius: none;
    background-color: white;
    overflow: hidden;
  }
  .login-container {
    width: 100%;
    height: 100vh;
    border-radius: none;
    box-shadow: none;
    flex-direction: column;
    overflow: hidden;
  }
  .login-background {
    width: 100%;
    height: 50%;
  }
  .login-background video {
    width: 100%;
    height: 100%;
    transform: scaleX(1.18);
  }
  .login-form {
    width: 100%;
    height: 50%;
  }
}
@media only screen and (max-width: 1228px) and (max-height: 709px) {
  .error {
    position: relative;
    top: -160px;
    left: 55px;
    font-size: 10px;
  }
  .container {
    width: 100%;
    height: 100vh;
    border-radius: none;
    background-color: white;
    overflow: hidden;
  }
  .login-container {
    width: 100%;
    height: 100vh;
    border-radius: none;
    box-shadow: none;
    flex-direction: column;
    overflow: hidden;
  }
  .login-background {
    width: 100%;
    height: 50%;
  }
  .login-background video {
    width: 100%;
    height: 100%;
    transform: scaleX(4.8);
  }
  .login-form {
    width: 100%;
    height: 50%;
  }
  .login-title {
    position: relative;
    top: -10px;
  }
}
